/* Empty. Add your own CSS if you like */

.card {margin:10px 0px 10px 0px; }
.card:hover {background-color:#f1f1f1; }

.tweet-avatar {text-align:center; }
.tweet-avatar img {border-radius:50%; width:90%; height:90%; margin:5%; max-height:50px; max-width:50px;   }

.tweet-username {font-size:1.5em; width:100%; margin-top:10px; margin-left: 10px;  }
.tweet-username span {font-size:0.8em; color:#999999; font-weight:normal; display:block; margin-top:2px; }
.tweet-username span a {color:#999999; text-decoration:underline;}
.tweet-datetime {font-size:0.6em !important; }

.tweet-text {font-size:1.2em; }
.tweet-toolbox {padding:0px; margin:0px; list-style:none; width:100%; display:inline-block;  }
.tweet-toolbox li {float:left; width:30%; padding:0% 1.5% 0% 1.5%; ; display:block ; text-align:center; }

.tweet-media img {border-radius:10px; width:100%; max-width:600px;  }


.home {width:100%; height:100%; position:relative; }
.home .row .col {text-align:center; }
.home .row {margin:0px; }
.home .title {margin-bottom:0px; margin-top:30%;   }

.home .title button {margin-top:50px; }
.home .row-logo {position:fixed; bottom:0px; }
.home img.logo {width:60px; height:60px; }


.about {margin:20px; text-align:justify; }
.about ul {list-style:disc; margin-left:20px; text-align:left; }
.about img.logo {width:60px; height:60px; }


.volunteer .title {text-align:center; margin-top:20px; margin-bottom:20px;  }
.volunteer .buttons {text-align:right; position:absolute; top:15px; right:15px; }



.login * {text-align:center; }


.share .padding {text-align:center; }
