/* Empty. Add your own CSS if you like */

.tweet-subheader {top:38px; border-bottom:0px;  }

.card {margin:10px 0px 10px 0px; }
.card:hover {background-color:#F8F8F8; }

.tweet-tabs {top:0px !important; position:relative; border-bottom:1px solid #eeeeee; background-color:#ffffff; }
.tweet-tabs .tab-item {font-size:.9em !important; }
.tweet-tabs .tab-item i {font-size:.9em; }
.tweet-listCard {margin-top:-9px; }

.tweet-listCard .no-tweet {text-align:center; padding-top:150px; font-size:1.1em; font-weight:normal; line-height:1.5em;   }
.tweet-listCard .no-tweet .icon {font-size:7em; margin-bottom:25px; }

.tweet-avatar {text-align:center; }
.tweet-avatar img {border-radius:50%; width:90%; height:90%; margin:5%; max-height:50px; max-width:50px;   }

.tweet-username {font-size:1.3em; width:100%; margin-top:10px; margin-left: 10px;  }
.tweet-username span {font-size:0.8em; color:#999999; font-weight:normal; display:block; margin-top:2px; }
.tweet-username span a {color:#999999; text-decoration:underline;}
.tweet-datetime {font-size:0.6em !important; }

.tweet-text {font-size:1.2em; }
.tweet-toolbox {padding:0px; margin:0px; list-style:none; width:100%; display:inline-block;  }
.tweet-toolbox li {float:left; width:30%; padding:0% 1.5% 0% 1.5%; ; display:block ; text-align:center; }




.tweet-media img {border-radius:10px; width:100%; max-width:600px;  }

.tweet-isRetweeted {position:absolute; right:20px; top:20px; }
.tweet-isRetweeted i {font-size:1.7em; color:#555555;  float:left; margin-left:5px;  }


.home {width:100%; height:100%; position:relative; }
.home .row .col {text-align:center; }
.home .row {margin:0px; }
.home .title {margin-bottom:0px; margin-top:30%;   }

.home .title button {margin-top:50px; }
.home .row-logo {position:fixed; bottom:0px; }
.home img.logo {width:60px; height:60px; }


.about {margin:20px; text-align:justify; }
.about ul {list-style:disc; margin-left:20px; text-align:left; }
.about img.logo {width:60px; height:60px; }
.about .logo .col {text-align:center; }


.volunteer .title {text-align:center; padding:20px; margin-bottom:20px;   }
.volunteer .title span {display:block; margin-top:15px; font-size:.85em; }
.volunteer .buttons {text-align:right; position:absolute; top:15px; right:15px; }
.volunteer .content {text-align:center; }
.volunteer .yourMostInterestedArea {background-color:#ff0000; color:#ffffff; }
.volunteer .retweetNum {position:absolute; top:10px; right:10px; font-size:1em; color:#444444;   }
.volunteer .retweetNum i {font-size:1.3em; }


.list .item-avatar {padding-left:115px !important; height:100px !important;  }
.list .item-avatar > img:first-child {max-width:70px !important; max-height:70px !important; }
.list .item-avatar * {text-align:left; }

.feedList .buttons {position:absolute; top:10px; right:10px;}
.feedList .buttons .button {margin-left:15px !important;}
.feedList .tab-item span {font-size:1.5em; }
.feedList .item-avatar > img:first-child {max-width:50px !important; max-height:50px !important; }
.feedList .item-avatar {padding-left:85px !important; height:auto !important;  }

.account .list .item-avatar > img:first-child {max-width:55px !important; max-height:55px !important; top:10px !important; }
.account .retweet {font-weight:bold; }


.login * {text-align:center; }
.login .card {margin-top:20px; padding-top:10px; padding-bottom:10px; }
.login .card-num {float:left; width:10%; font-size:2em; color:#555555; text-align:left; }
.login .card-content {float:left; width:90%; }
.login .card-content p {text-align:left; }
.login .fade {background-color:#cccccc;  }
.login .item-text-wrap {display:inline-block; width:100%; background-color:transparent }


.share .padding {text-align:center; }
.share textarea {height:60px; }


/** media */
/** iphon5 */
@media (max-width:330px){
  h2 {font-size:1.2em !important; }
  h3 {font-size:18px;}
  p {font-size:14px !important; }
}
