<ion-view view-title="About">
  <ion-content>
    <div class='home'>
      <!-- title-->
      <div class='row title'>
        <div class='col'>
          <h2>OES Volunteer</h2>
        </div>
      </div>



      <!-- description-->
      <div class='row description'>
        <div class='col'>
            We need your helps to diseminate emergency tweets <br>to the world!<Br>
            <!--get started-->
            <button class="button icon-left ion-play button-calm" ng-click='getStarted()'>&nbsp; Get Started</button>
        </div>
      </div>

      <!-- logo-->
      <div class='row logo'>
        <div class='col'><img class='logo' src='images/HDMA_Logo_Small_squre.png' /></div>
        <div class='col'><img class='logo' src='images/nsf-logo.png' /></div>
        <div class='col'><img class='logo' src='images/OES_transp.png' /></div>
      </div>
    </div>

  </ion-content>

  <ion-footer-bar type="bar-positive" >
    <div class="tabs tabs-icon-top tabs-striped">
      <a class="tab-item" href='#/app/tweet'><i class="icon ion-social-twitter"></i>OES Tweets</a>
      <a class="tab-item" href='#/app/volunteer'><i class="icon ion-person-stalker"></i>Find Volunteers</a>
      <a class="tab-item" href='#/app/settings'><i class="icon ion-gear-a"></i>Setting</a>
      <a class="tab-item active" href='#/app/about'><i class="icon ion-android-home"></i>About</a>
    </div>
  </ion-footer-bar>
</ion-view>
