<ion-view view-title="About">
  <ion-content>
    <div class='about'>

      <!-- description-->
      <div class='description'>
        <!-- logo-->
        <div class='row logo'>
          <div class='col col-33'><img class='logo' src='images/HDMA_Logo_Small_squre.png' /></div>
          <div class='col col-33'><img class='logo' src='images/nsf-logo.png' /></div>
          <div class='col col-33'><img class='logo' src='images/OES_transp.png' /></div>
        </div>

        <p>
          Thank you for downloading this “SD Emergency RT” mobile App.  This mobile app is a prototype created by the Center for Human Dynamics in the Mobile Age (HDMA) at San Diego State University.  Registered San Diego County Office of Emergency Services (OES) Communication Volunteers can use this mobile App to re-send up-to-date emergency warning alerts to your friends and contacts during crisis or disaster situations.  Your participation ensures that each OES message will be delivered to our San Diego community members in a timely and efficient manner during crisis or disaster situations.
        </p>
        <p>
          If you participate in the study, we will conduct a personal social network analysis. To do this, we will follow your twitter account and collect information on your tweets only related to wildfires and your Twitter followers over time so we can learn about how information is spread. Information we collect on you will be completely deleted three years after all research activity is completed. <b>We will never release your personal information to anyone outside the study. This information will only be used to contact you in the event of a disaster and so we can better understand our volunteers.</b>
        </p>

        <p></p>For more information, please visit:
        <div class='list'>
          <!--<div class='item item-divider'>For more information, please visit</div>-->
          <a class='item item-icon-left' onclick="window.open('http://vision.sdsu.edu/ibss/signup.html', '_system'); return false; " ><i class='icon ion-android-globe'></i>Register to be a volunteer</a>
          <a class='item item-icon-left' onclick="window.open('http://www.readysandiego.org/', '_system'); return false; "><i class='icon ion-android-globe'></i>ReadySanDiego</a>
          <a class='item item-icon-left' onclick="window.open('http://humandynamics.sdsu.edu/', '_system'); return false; "><i class='icon ion-android-globe'></i>Human Dynamics Center, SDSU</a>
          <a class='item item-icon-left' ng-click="linkTwitter('readysandiego')"><i class='icon ion-social-twitter'></i>@readysandiego</a>
          <a class='item item-icon-left' ng-click="linkTwitter('hdma_sdsu')"><i class='icon ion-social-twitter'></i>@hdma_sdsu</a>
        </div>
      </div>

      <!--links-->

      <P></P>

    </div>

  </ion-content>
</ion-view>
