<ion-view hide-nav-bar="true">
  <ion-content scroll="false">
    <div class='home'>
      <!-- title-->
      <div class='row title row-center'>
        <div class='col'>
          <h2>OES Participant</h2>

          <div class='description'>
            We need your helps to disseminate emergency tweets <br>to the world!<Br>
          </div>

          <!--get started-->
          <button class="button icon-left ion-play button-calm" ng-click='getStarted()'>&nbsp; Get Started</button>
        </div>
      </div>

      <!-- logo-->
      <div class='row row-logo row-bottom'>
        <div class='col'><img class='logo' src='images/HDMA_Logo_Small_squre.png' /></div>
        <div class='col'><img class='logo' src='images/nsf-logo.png' /></div>
        <div class='col'><img class='logo' src='images/OES_transp.png' /></div>
      </div>
    </div>

  </ion-content>
</ion-view>
