<ion-modal-view title="Voluntter Login" >

  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content class='login'>
      <div class="padding" style='margin-top:25px; '>
          <h3>If you already registered to be an OES volunteer?</h3>
          <p>Please directly login with your Twitter account. </p>
          <p>Don't worry. We will <b>ONLY retweet the tweet</b> for you <Br>
            and will not change anything in your Twitter account.
          </p>
          <button class="button icon-left ion-social-twitter button-calm" ng-click="login()">Login with your Twitter Account</button>
      </div>

      <div class="padding" style='margin-top:80px; '>
          <h3>If Not?</h3>
          <p>Please click <a href='http://vision.sdsu.edu/ibss/signup.html' target='_blank'>here</a> to register as an OES volunteer.</p>
      </div>
  </ion-content>
</ion-modal-view>
