<ion-modal-view title="Voluntter Login" >

  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content class='login'>
      <div class="padding" style='margin-top:25px; '>
          <h3>Already OES volunteer?</h3>
          <p>please directly login with your Twitter account.</p>
          <button class="button icon-left ion-social-twitter button-calm" ng-click="login()">Login with Twitter Account</button>
      </div>

      <div class="padding" style='margin-top:80px; '>
          <h3>Not yet?</h3>
          <p>No worry. Please click <a href='http://vision.sdsu.edu/ibss/signup.html' target='_blank'>here</a> to be a OES volunteer.</p>
      </div>
  </ion-content>
</ion-modal-view>
