<ion-modal-view title="Voluntter Login" >

  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content class='login'>
    <div class="padding" style='margin-top:25px; '>
        <h3>Have you registered as an OES San Diego communication volunteer?</h3>
        <p>If YES, Please go ahead to login with your Twitter account. </p>
        <p>The App will <b>ONLY retweet the tweet</b> for you <Br>
          and will not change anything in your Twitter account or profile.
        </p>
        <button class="button icon-left ion-social-twitter button-calm" ng-click="login()">Login with your Twitter Account</button>
    </div>

    <div class="padding" style='margin-top:80px; '>
        <h3>If NO?</h3>
        <p>Please click this button to register.</p>
        <button class="button button-outline icon-left button-calm" onclick='window.open("http://vision.sdsu.edu/ibss/signup.html")'>Register an OES San Diego communication volunteer</button>
    </div>
  </ion-content>
</ion-modal-view>
