<ion-modal-view title="Retweet" >

  <ion-header-bar>
    <h1 class="title">Retweet</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content class='share'>
    <div class="list card"  ng-if='t.user.screen_name=="ReadySanDiego"'>

      <div class='item item-avatar'>
        <img src="{{t.user.profile_image_url_https}}">
        <h2>{{t.user.name}}</h2>
        <p>
            @{{t.user.screen_name}}<br>
            {{moment(t.created_at).format("MM-DD-YYYY hh:mm:ss a")}}
        </p>
      </div>

      <div class='item item-text-wrap'>{{t.text}}</div>

      <!--
      <div class='item item-image' ng-if='t.entities&&t.entities.media&&t.entities.media.length>0'>
        <img src="{{t.entities.media[0].media_url_https}}">
      </div>
      -->
    </div>

    <!--comment -->
    <div class='list list-inset' ng-show="!t.isRetweeted&&t.isRetweetable">
      <label class='item item-input'>
        <textarea placeholder='Comments' ng-model='comment'></textarea>
      </label>
    </div>

    <p></p>

    <!--button-->
    <div class="padding" style='margin-top:25px; '>
        <button class="button icon-left ion-android-share-alt button-calm" ng-click="retweet(t, comment)" ng-show="!t.isRetweeted&&t.isRetweetable">Retweet</button>
        <button class="button icon-left button-outline button-calm"  ng-show="!t.isRetweetable&&!t.isRetweeted">The tweet is out of date.</button>
        <button class="button icon-left button-outline ion-ios-checkmark-outline button-calm"  ng-show="t.isRetweeted==true">You already retweeted!</button>
    </div>

  </ion-content>
</ion-modal-view>
