<ion-view view-title="Social Media Settings" >
  <ion-content>
    <ul class="list">
      <ion-toggle toggle-class="toggle-calm" ng-model='socialmedia.twitter' ng-change='toggleChange("twitter")' ><i class='icon ion-social-twitter'>  Twitter</i></ion-toggle>
      <ion-toggle toggle-class="toggle-assertive" ng-model='socialmedia.facebook' ng-change='toggleChange("facebook")'><i class='icon ion-social-facebook'>  Facebook</i></ion-toggle>
      <ion-toggle toggle-class="toggle-energized" ng-model='socialmedia.instagram' ng-change='toggleChange("instagram")'><i class='icon ion-social-instagram' >  Instagram</i></ion-toggle>
    </ul>
  </ion-content>
</ion-view>
