<ion-view view-title="Social Media Settings" >
  <ion-content>
    <ul class="list">
      <ion-toggle toggle-class="toggle-assertive" ng-model='socialmedia.twitter' ng-change='toggleChange("twitter")' >Twitter</ion-toggle>
      <ion-toggle toggle-class="toggle-calm" ng-model='socialmedia.facebook' ng-change='toggleChange("facebook")'>Facebook</ion-toggle>
      <ion-toggle toggle-class="toggle-energized" ng-model='socialmedia.instagram' ng-change='toggleChange("instagram")'>Instagram</ion-toggle>
    </ul>
  </ion-content>
</ion-view>
