<ion-view view-title="SD Emergency Tweet">
  <!--
  <ion-nav-buttons side="right" ng-show="false" ng-click="$state.go('home')">
    <button class="button button-icon button-clear ion-home"></button>
  </ion-nav-buttons>
-->
<ion-header-bar class="bar-subheader tweet-subheader" >
  <!-- tabs-top -->
  <div class="tweet-tabs tabs tabs-icon-left">
    <a class="tab-item active" ng-class="{'active':selectedTab=='hour3'}" ng-click="changeTweetList('hour3')"><i class='icon ion-ios-clock'></i>In 3hrs</a>
    <a class="tab-item" ng-class="{'active':selectedTab=='today'}" ng-click="changeTweetList('today')"><i class='icon ion-ios-clock'></i>Today</a>
    <a class="tab-item" ng-class="{'active':selectedTab=='top5'}" ng-click="changeTweetList('top5')"><i class='icon ion-social-twitter'></i>Latest</a>
    <a class="tab-item" ng-class="{'active':selectedTab=='historical'}" ng-click="changeTweetList('historical')"><i class='icon ion-social-twitter'></i>Historical</a>
  </div>
</ion-header-bar>


  <ion-content>

    <ion-refresher pulling-text="Pull to refresh" on-refresh="refreshOESTweet()"></ion-refresher>
    <!-- content-->
    <div class='tweet-listCard'>
      <!-- if there is no tweets-->
      <div class="no-tweet" ng-if='tweetList.length==0'>
          <div class='icon ion-android-sunny'></div>
          <p>There is no emegency tweets in the category.<br>Please click on other categories or slide down to refresh tweets.</p>
      </div>


      <div class="list card" ng-repeat="t in tweetList" ng-click="click(t)" ng-if='t.user.screen_name=="ReadySanDiego" && tweetList.length>0'>
        <div class='item item-avatar'>
          <img src="{{t.user.profile_image_url_https}}">
          <h2 class='tweet-username'>
            {{t.user.name}}
            <span class='tweet-screen_name'><a href='#'>@{{t.user.screen_name}}</a></span>
            <span class='tweet-datetime'> {{moment(t.created_at).format("MM-DD-YYYY hh:mm:ss a")}}</span>
          </h2>

          <!-- isRetweeted-->
          <div class='tweet-isRetweeted' ng-show='t.isRetweeted'>
            <i class="fa fa-retweet"></i>
            <i class='fa ion-ios-checkmark'></i>
            <!--<button class="button icon-left button-outline ion-ios-checkmark-outline button-calm">Retweeted</button>-->
          </div>
          <div class='tweet-isRetweeted' ng-show='!t.isRetweeted'>
            <!--<i class="fa fa-retweet"></i>-->
            <button class='button button-small button-calm'><i class="fa fa-retweet" style='color:#ffffff; margin:2.5px 2.5px 0px 0px ; font-size:1.6em;'></i>Retweet</button>
          </div>
        </div>

        <div class='item tweet-content'>
          <p class='tweet-text'>{{t.text}}</p>
          <p class='tweet-media' ng-if='t.entities&&t.entities.media&&t.entities.media.length>0'>
            <img src="{{t.entities.media[0].media_url_https}}">
          </p>
        </div>


      </div>
    </div>




  </ion-content>
</ion-view>
