<ion-view view-title="Volunteers">
  <ion-content class='volunteer'>
    <div class='content' ng-show="user.userProfile&&user.volunteerInfo">
      <ion-refresher pulling-text="Pull to refresh" on-refresh="refreshVolunteer()"></ion-refresher>

      <!--<p>You can find a volunteer by searching their Twitter account and click on each volunteer to see their Twitter page.</p>-->
      <!--<h4 class='title'>Your most interested area is:<br><span>{{user.interestedArea}}</span></h4>-->

      <div class="list">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Filter" ng-model="searchFilter">
        </label>
        <!--<div class='item item-divider' ng-repeat-start="(area, volunteers) in user.volunteers" ng-class="{'yourMostInterestedArea' : area==user.interestedArea}">
          {{area}}
        </div>-->
        <a class='item item-avatar animate-repeat' href="#" ng-repeat="v in user.volunteers | filter:searchFilter" ng-click='link("twitter", v)'>
          <img src='{{v.twitterPhoto}}' />
          <h2>@{{v.twitteraccount}}</h2>
          <p ng-show="v.areyouproficientinanyotherlanguages&&v.areyouproficientinanyotherlanguages!=''">Additional Language: {{v.areyouproficientinanyotherlanguages}}</p>
          <div class="retweetNum" ng-show="v.retweets&&v.retweets.length!=0">{{v.retweets}} <i class="fa fa-retweet"></i></div>
          <!--
          <div class='buttons'>
            <button class='button icon ion-social-twitter' ng-click='link("twitter", v)'></button>
            <button class='button icon ion-ios-email' ng-click='link("email", v)'></button>
          </div>
        -->
        </a>
        <!--<div ng-repeat-end></div>-->
      </div>
    </div>


    <div class='login' ng-if="!user.userProfile || !user.volunteerInfo">
      <div class="padding" style='margin-top:25px; '>
          <h3>To find volunteers, you need to login with your Twitter account and register as an OES San Diego communication volunteer.</h3>
          <p></p>
          <!-- step1 -->
          <div class='card' ng-class='user.userProfile?"fade":""'>
            <div class='item item-text-wrap'>
              <h3 class='card-num'>1</h3>
              <div class='card-content'>
                <div ng-if='!user.userProfile' >
                  <p>Please login with your Twitter account. The App will <b>ONLY retweet the tweet</b> for you and will not change anything in your Twitter account or profile.</p>
                  <button class="button  button-block icon-left ion-social-twitter button-calm" ng-click="login()" >Twitter Login</button>
                  <p>
                  </p>
                </div>
                <div ng-if='user.userProfile'>
                  <p>Great! @{{user.userProfile.screen_name}} <br>You already signed in with your Twitter account.</p>
                </div>
              </div>
            </div>
          </div>
          <!--step2-->
          <div class='card' ng-class='!user.userProfile?"fade":""'>
            <div class='item item-text-wrap'>
              <h3 class='card-num'>2</h3>
              <div class='card-content'>
                <div ng-if='!user.userProfile&&!user.volunteerInfo'>
                  <p>Register as an OES San Diego communication volunteer</p>
                  <button class="button button-block button-outline icon-left button-calm"  onclick="window.open('http://vision.sdsu.edu/ibss/signup.html', '_system');return false;">Volunteer Register</button>
                </div>

                <div ng-if='user.userProfile&&user.volunteerInfo'>
                  <p>You are the OES San Diego communication volunteer</p>
                </div>

                <div ng-if='user.userProfile&&!user.volunteerInfo'>
                  <p>It seems you have not registered as OES San Diego communication volunteer. Please click this button to register.</p>
                    <button class="button icon-left button-calm" onclick="window.open('http://vision.sdsu.edu/ibss/signup.html', '_system');return false;">Register an OES San Diego communication volunteer</button>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
    <!--end login-->



  </ion-content>

</ion-view>
