<ion-view view-title="Find Volunteers">
  <ion-content class='volunteer'>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="refreshVolunteer()"></ion-refresher>

    <h4 class='title'>Find a volunteer in your most interested area: <span>{{user.interestedArea}}</span></h4>

    <div class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Filter" ng-model="searchFilter">
      </label>
      <a class='item item-avatar animate-repeat' href="#" ng-repeat="v in user.volunteers | filter:searchFilter" ng-click='link("twitter", v)'>
        <img src='{{v.twitterPhoto}}' />
        <h2>{{v.name}}</h2>
        <p>{{v.twitteraccount}}</p>
        <p>Age: {{v.age}}</p>
        <p>Language: {{v.areyouproficientinanyotherlanguages}}</p>
        <!--<p>Most interested area: {{v.mostimportantareatoyou}}</p>
        <p>Second interested area: {{v.secondarea_3}}</p>
        <p>Third interested area: {{v.thirdarea_3}}</p>-->

        <!--
        <div class='buttons'>
          <button class='button icon ion-social-twitter' ng-click='link("twitter", v)'></button>
          <button class='button icon ion-ios-email' ng-click='link("email", v)'></button>
        </div>
      -->
      </a>

    </div>


  </ion-content>

</ion-view>
